#titlebackground{
	border-top:1px #CCCCCc solid; 
	background-color:#bb1919;
	width:100%;
	height:70px;
}
.title{
	color:white;
	position:relative;
	left:500px;
}
#aca{
	position:relative;
}
#intro{
	color:gray;
	position:relative;
	left:50px;
}
#major{
	color:red;
	position:relative;
	left:50px;
}
#cert{
    position:relative;
	left:50px;
}
#sport{
	position:relative;
}
#programming{
	position: relative;
}